<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Primary Meta Tags -->
        <title><%= process.env.TITLE %></title>
        <meta name="title" content="<%= process.env.TITLE %>">
        <meta name="description" content="<%= process.env.DESCRIPTION %>">
        <meta name="theme-color" content="<%= process.env.COLOR %>" />
        <meta name="msapplication-TileColor" content="<%= process.env.COLOR %>" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="<%= process.env.DOMAIN %>/<%= fullPath %>">
        <meta property="og:title" content="<%= process.env.TITLE %>">
        <meta property="og:description" content="<%= process.env.DESCRIPTION %>">
        <meta property="og:image" content="<%= process.env.DOMAIN %>/image/<%= fullPath %>">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="<%= process.env.DOMAIN %>/<%= fullPath %>">
        <meta property="twitter:title" content="<%= process.env.TITLE %>">
        <meta property="twitter:description" content="<%= process.env.DESCRIPTION %>">
        <meta property="twitter:image" content="<%= process.env.DOMAIN %>/image/<%= fullPath %>">

        <script src="https://kit.fontawesome.com/8d6367d1b9.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/style.css">
      </head>
    <body>
        <header>
            <a class="navbar-brand" href="<%= process.env.DOMAIN %>"><img src="assets/images/logo.png" alt="Logo" height="30"></a>
              <a class="btn" href="image/<%= fullPath %>" download>
                <span class="icon">
                  <i class="fas fa-cloud-download-alt"></i>
                </span>
                <strong>Download</strong></a>
                <a class="mobile btn" href="image/<%= fullPath %>" download>
                  <span class="icon">
                    <i class="fas fa-cloud-download-alt"></i>
                  </span></a>
        </header>
        <a class="ss-image">
                <img src="image/<%= fullPath %>" alt="Image">
            </a>
            <div onclick="myFunction(this)" class="toggler">
                <i id="icon" class="fas fa-moon"></i>
            </div>
            <footer>
              <span id="information"><%= fullPath %> - <%= size %> - <%= date %></span>
            </footer>
            <script>
              function myFunction(x) {
                document.getElementById("icon").classList.toggle("fa-moon")
                document.getElementById("icon").classList.toggle("fa-sun")
                document.getElementById("information").classList.toggle("light")
                document.body.classList.toggle('light');
              };
            </script>
    </body>
</html>